<!DOCTYPE html>
<html>
<head>
	<title>Css slideshow</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Css slideshow" />
	
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine1/style.css" />
	<script type="text/javascript" src="engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->

</head>
<body style="background-color:#d7d7d7;margin:0">
	
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="data1/images/backnang_1.jpg" alt="Deutscher Bundestag - Berlin" title="Deutscher Bundestag - Berlin" id="wows1_0"/></li>
		<li><img src="data1/images/backnang2.jpg" alt="Deutscher Bundestag - Berlin" title="Deutscher Bundestag - Berlin" id="wows1_1"/></li>
		<li><img src="data1/images/img_2214.jpg" alt="Mit dem Meier - Heilbronn" title="Mit dem Meier - Heilbronn" id="wows1_2"/></li>
		<li><img src="data1/images/img_2220.jpg" alt="Heilbronn" title="Heilbronn" id="wows1_3"/></li>
		<li><img src="data1/images/img_5783.jpg" alt="Meeting - Kooperation Kamerun - Deutschland" title="Meeting - Kooperation Kamerun - Deutschland" id="wows1_4"/></li>
		<li><img src="data1/images/img_5796.jpg" alt="Meeting - Kooperation Kamerun - Deutschland" title="Meeting - Kooperation Kamerun - Deutschland" id="wows1_5"/></li>
		<li><img src="data1/images/img_5814.jpg" alt="GOP - Kooperation Kamerun - Deutschland" title="GOP - Kooperation Kamerun - Deutschland" id="wows1_6"/></li>
		<li><a href="http://wowslider.net"><img src="data1/images/img_5833.jpg" alt="slider" title="Meeting - Kooperation Kamerun - Deutschland" id="wows1_7"/></a></li>
		<li><img src="data1/images/img_5853.jpg" alt="Meeting - Kooperation Kamerun - Deutschland" title="Meeting - Kooperation Kamerun - Deutschland" id="wows1_8"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Deutscher Bundestag - Berlin"><span><img src="data1/tooltips/backnang_1.jpg" alt="Deutscher Bundestag - Berlin"/>1</span></a>
		<a href="#" title="Deutscher Bundestag - Berlin"><span><img src="data1/tooltips/backnang2.jpg" alt="Deutscher Bundestag - Berlin"/>2</span></a>
		<a href="#" title="Mit dem Meier - Heilbronn"><span><img src="data1/tooltips/img_2214.jpg" alt="Mit dem Meier - Heilbronn"/>3</span></a>
		<a href="#" title="Heilbronn"><span><img src="data1/tooltips/img_2220.jpg" alt="Heilbronn"/>4</span></a>
		<a href="#" title="Meeting - Kooperation Kamerun - Deutschland"><span><img src="data1/tooltips/img_5783.jpg" alt="Meeting - Kooperation Kamerun - Deutschland"/>5</span></a>
		<a href="#" title="Meeting - Kooperation Kamerun - Deutschland"><span><img src="data1/tooltips/img_5796.jpg" alt="Meeting - Kooperation Kamerun - Deutschland"/>6</span></a>
		<a href="#" title="GOP - Kooperation Kamerun - Deutschland"><span><img src="data1/tooltips/img_5814.jpg" alt="GOP - Kooperation Kamerun - Deutschland"/>7</span></a>
		<a href="#" title="Meeting - Kooperation Kamerun - Deutschland"><span><img src="data1/tooltips/img_5833.jpg" alt="Meeting - Kooperation Kamerun - Deutschland"/>8</span></a>
		<a href="#" title="Meeting - Kooperation Kamerun - Deutschland"><span><img src="data1/tooltips/img_5853.jpg" alt="Meeting - Kooperation Kamerun - Deutschland"/>9</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">css slideshow</a> by WOWSlider.com v8.8</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

</body>
</html>